@import './reset.css';

.container{
    margin: 0;
    width: 1400px;
}

a{
    text-decoration: none;
    color: #000000;
}


.header__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex; 
    align-items: center;
}

/* .header{
    display: flex;
    justify-content: space-around;
    align-items: center;

} */