@import './reset.css';

.container{
    margin: 0;
    width: 1400px;
}

a{
    text-decoration: none;
    color: #000000;
}


.header__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex; 
    gap: 20px;
    
}

.menu__block{
    display: flex;
    gap: 20px;
    color: #000000;
    
}
/* .header{
    display: flex;
    justify-content: space-around;
    align-items: center;

} */

.logo{
    font-weight: 700;
    font-size: 32px;
}